@model CarServiceSystemWeb.EntityContext.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    @Html.Label("Brand:", new { @class = "lblleft" })
    @Html.Label("myTextBox", Model.Brand.Name, new { @class = "lblright" })
    <br />
    @Html.Label("Model:", new { @class = "lblleft" })
    @Html.Label("myTextBox", Model.Model.Name, new { @class = "lblright" })
    <br />

    @Html.Label("Owner:", new { @class = "lblleft" })
    @Html.Label("myTextBox", Model.User.Name, new { @class = "lblright" })
    <br />

    @Html.Label("WINnumber:", new { @class = "lblleft" })
    @Html.Label("myTextBox", Model.WINnumber, new { @class = "lblright" })
    <br />
    @Html.Label("RegNumber:", new { @class = "lblleft" })
    @Html.Label("myTextBox", Model.RegNumber, new { @class = "lblright" })
    <br />
    @Html.Label("Colour:", new { @class = "lblleft" })
    @Html.Label("myTextBox", Model.Colour, new { @class = "lblright" })
    <br />

</div>
<p>


    <div style="margin-left:70px">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Delete car
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure? </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Delete", "Cars",new { id = Model.Id })'">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        @Html.ActionLink("Edit car", "Edit", new { id = Model.Id },htmlAttributes:new { @class="btn btn-primary", style="margin-left:20px"}) 
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</p>
